
.container{
    max-width: 804px;
    background-color:#ffb325;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;
}

.result-container{
    width: 95%;
    height: 114px;
    font-size: 65px;
    background-color: #fff;
    border: 1px solid silver;
    margin: 25px auto;
    padding: 10px;
}

.buttons-container {
    display: initial;
    text-align: center;
    margin: 4px;
    position: relative;
}

button, .gap, .clear{
    width: 184px;
    height: 203px;
    font-size: 55px;
    font-family: monospace;
    border: none;
    margin: 7px;
    background-color: moccasin;
}

.gap {
    position: absolute;
    bottom: -1px;
}

.clear {
    position: absolute;
    bottom: -1px;
    right: 2px;
    font-size: 85px;
    text-align: center;

}


